.lightbox :global(.yarl__container) {
  --yarl__color_backdrop: #403234;
}

.lightbox :global(.yarl__navigation_prev .yarl__icon),
.lightbox :global(.yarl__navigation_next .yarl__icon) {
  height: 50px;
  width: 50px;
}
