.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 3rem;
}

@media screen and (min-width: 600px) {
  .list {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.card {
  cursor: pointer;
  transition: transform 250ms linear;
  overflow: hidden;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}
