.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  cursor: pointer;
  transition: transform 250ms linear;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}
